@import "sanitize";
/*------------------------colors-----------------------------------*/
$blue: #00bbd3;
$black: #000;
$white: #fff;

/*-------------------------global----------------------------------*/

* {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 1200px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 0 15px;
  }
}
body {
  background-color: $white;
  overflow-x: hidden;
  background-image: url("../images/tooth.png");
  background-size: 400px 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &.overflow {
    overflow: hidden;
  }
}
/*-------------------------particle----------------------------------*/

.particles-js {
  width: 100%;
  height: 100%;
  canvas {
    display: block;
  }
}
/*-------------------------header----------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: $white;
  border-bottom: 1px solid #eee;
  &__top {
    background: $blue;
    .page-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
  &__bottom {
    .logo {
      height: 40px;
    }
    @media (max-width: 1200px) {
      height: 40px;
    }
    .page-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1200px) {
        justify-content: unset;
        text-align: center;
        display: block;
      }
    }
  }
  &--sticky {
    .nav__wrapper {
      &-inner {
        ul {
          li {
            a {
              padding: 5px 20px;
            }
          }
        }
      }
    }
  }
}
/*------------------------nav----------------------------------*/
.nav {
  &__close {
    display: none;
    @media (max-width: 1200px) {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $white;
      padding: 7px;
      position: absolute;
      top: 0;
      left: 100%;
      border: 0;
      border-radius: 0 0 5px 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__open {
    display: none;
    @media (max-width: 1200px) {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $blue;
      padding: 7px;
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      color: $white;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__wrapper {
    @media (max-width: 1200px) {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      background-color: rgba($black, 0.3);
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: translate 0.3s ease;
      @media (max-width: 1200px) {
        justify-content: unset;
        align-items: unset;
        position: absolute;
        width: 75%;
        max-width: 315px;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $white;
        transform: translateX(-150%);
      }
      ul {
        display: flex;
        list-style: none;
        @media (max-width: 1200px) {
          display: block;
          width: 100%;
          text-align: left;
        }
        .selected {
          @media (max-width: 1200px) {
            background-color: $blue;
            a {
              color: $white;
            }
          }
        }
        li {
          a {
            display: block;
            text-decoration: none;
            color: lightskyblue;
            display: block;
            padding: 20px;
            transition: color 0.3s ease, padding 0.3s ease;
            @media (max-width: 1200px) {
              padding: 8px 20px;
            }
            &:hover {
              color: #666;
            }
          }
        }
      }
    }
  }
}
